<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pokemons"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ pokemon?.name || 'Carregando...' }}</ion-title>

    <ion-buttons slot="end" *ngIf="pokemon">
      <ion-button (click)="favoriteService.toggleFavorite(pokemon.id)">
        <ion-icon
          slot="icon-only"
          [name]="favoriteService.isFavorite(pokemon.id) ? 'star' : 'star-outline'">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!pokemon" class="ion-text-center ion-padding-top">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando detalhes...</p>
  </div>

  <ion-card *ngIf="pokemon">
    <ion-card-header class="ion-text-center">
      <img [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="pokemon.name" />
      <ion-card-title class="ion-text-capitalize">{{ pokemon.name }}</ion-card-title>
      <ion-card-subtitle>#{{ pokemon.id }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-label><strong>Tipos:</strong></ion-label>
        <div slot="end">
          <ion-chip *ngFor="let t of pokemon.types" color="secondary" class="ion-text-capitalize">
            <ion-label>{{ t.type.name }}</ion-label>
          </ion-chip>
        </div>
      </ion-item>

      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col>
            <div><strong>Altura</strong></div>
            <div>{{ pokemon.height / 10 }} m</div>
          </ion-col>
          <ion-col>
            <div><strong>Peso</strong></div>
            <div>{{ pokemon.weight / 10 }} kg</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list lines="full">
        <ion-item-divider>
          <ion-label>Habilidades</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let a of pokemon.abilities">
          <ion-label class="ion-text-capitalize">{{ a.ability.name }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-list lines="full">
        <ion-item-divider>
          <ion-label>Outras Imagens</ion-label>
        </ion-item-divider>
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col><img [src]="pokemon.sprites.front_default" alt="Sprite frontal"></ion-col>
            <ion-col><img [src]="pokemon.sprites.back_default" alt="Sprite traseiro"></ion-col>
            <ion-col><img [src]="pokemon.sprites.front_shiny" alt="Sprite Shiny frontal"></ion-col>
            <ion-col><img [src]="pokemon.sprites.back_shiny" alt="Sprite Shiny traseiro"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
