<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pokédex
    </ion-title>
    <ion-buttons slot="end">
      <p>Favoritos</p>
      <ion-button routerLink="/favorites">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="pokemons.length === 0" class="ion-text-center ion-padding-top">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando Pokémons...</p>
  </div>

  <ion-grid *ngIf="pokemons.length > 0">
    <ion-row>
      <ion-col
        *ngFor="let pokemon of pokemons"
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3">

        <ion-card class="pokemon-card" [routerLink]="['/pokemons', pokemon.id]" button>
          <ion-button fill="clear" class="favorite-button" (click)="$event.stopPropagation(); favoriteService.toggleFavorite(pokemon.id)">
            <ion-icon
              slot="icon-only"
              color="warning"
              [name]="favoriteService.isFavorite(pokemon.id) ? 'star' : 'star-outline'">
            </ion-icon>
          </ion-button>

          <img [src]="pokemon.image" [alt]="pokemon.name" />
          <ion-card-header class="ion-text-center ion-text-capitalize">
            <ion-card-title>{{ pokemon.name }}</ion-card-title>
            <ion-card-subtitle>#{{ pokemon.id }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

   <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais Pokémons...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
